<div class="friend-container">
  <div class="skip-btn">
    <%= link_to 'Skip', bar_path(@booking.bar) %>
  </div>
  <div class="friend-forme">
    <p class="friend-title">Add Friends</p>
    <%= simple_form_for [ @booking, @friend ] do |f| %>
      <%= f.input :first_name, label: "First name" %>
      <%= f.input :last_name, label: "Last name" %>
      <%= f.submit "Add friend", class: "friend-btn" %>
    <% end %>
    <% if  @booking.friends %>
      <p>Your friends added :</p>
    <% end %>
    <% @booking.friends.each do |friend| %>
      <%= "- #{friend.first_name.capitalize}, #{friend.last_name.capitalize}" %>
    <% end %>
    <div class="friend-btn",>
      <%= link_to "Submit",  bookings_path %>
    </div>
  </div>
</div>
