<!-- Bar header -->
<%= link_to root_path do %>
  <div class="arrow-back">
    <i class="fas fa-chevron-left"></i>
  </div>
<% end %>

  <div class="bar-header">
    <div class="title">
    <h2>
      <% if params[:tag].present? %>
        <%= params[:tag].pluralize %>
      <% elsif params[:tag_2].present? %>
        Terraces
      <% else %>
        Bars
      <% end %>
    </h2>
    </div>
  </div>

<!-- Cards container -->
<div class="index-container">
  <% @bars.each do |bar|  %>
    <%= link_to bar_path(bar, redirection: "bar-index") do %>
      <%= render 'card-bar-larg', bar: bar%>
    <% end %>
  <% end %>
</div>

<%= render 'shared/index-btn' %>
