<h1> Index of bars</h1>

<h2>Bars cards</h2>
<div class="container" style=" display: flex; justify-content: space-between;">
  <%= render "shared/cards/card-bar-small" %>
  <%= render "shared/cards/card-bar-small" %>
</div>


<div class="container" style=" padding-top: 20px;">
  <%= render "shared/cards/card-bar-larg" %>
</div>

<h2>Events Cards</h2>
<div class="container" style=" display: flex; justify-content: space-between;">
  <%= render "shared/cards/card-event-small" %>
  <%= render "shared/cards/card-event-small" %>
</div>


<div class="container" style=" padding-top: 20px;">
  <%= render "shared/cards/card-event-larg" %>
</div>
