

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div id="img-bar-show" class="carousel-inner">
    <div class="carousel-item active p-0">
      <img src="<%= @bar.photo_url_1 %>" class="d-block h-100 w-100">
    </div>
    <div class="carousel-item p-0">
      <img src="<%= @bar.photo_url_2 %>" class="d-block h-100 w-100">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="show-container">
  <div class="card-bar-show">
    <div class="card-bar-show-body">
        <h6 class="card-bar-show-category"><%= @bar.category %></h6>
        <h4><%= @bar.name %></h4>
        <% @musics.each do |music| %>
        <div class="badge badge-pill badge-warning">
         <%= music.name %>
        </div>
      <% end %>
        <h6 class="card-bar-price-grey"><%= @bar.price %></h6>
        <p><%= @bar.description %></p>
        <div class="card-bar-show-reviews">
          <% @bar.average_rating.to_i.times do %>
            <span class="fas fa-star" style="color: #D83F87;"></span>
          <% end %>
          <% @bar.blank_stars.to_i.times do %>
            <span class="fas fa-star" style="color: grey;"></span>
          <% end %>
          <span><%= "#{@bar.average_rating} / 5" %> </span>
        </div>

    </div>
    <div class="card-bar-show-buttons">
      <% if user_signed_in? %>
        <%= link_to "Guest List", new_bar_booking_path(@bar), class: "btn btn-pink" %>
        <%= link_to "Book Table", new_bar_booking_path(@bar), class: "btn btn-outline-pink" %>
      <% else %>
        <%= link_to "Guest List", welcome_path, class: "btn btn-pink" %>
        <%= link_to "Book Table", welcome_path, class: "btn btn-outline-pink" %>
      <% end %>
      <% if @bar.reviews.where(user: current_user).empty?  %>
        <%= link_to "Add Review", new_bar_review_path(@bar), class: "btn btn-outline-pink" %>
      <% end %>
    </div>
  </div>

  <div class= "card-bar-show-map">
    <div id="map" class="small_size_map"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <%= link_to full_map_bar_path(@bar), class: "show-map-expand" do %>
      <i class="fas fa-expand-alt"></i>
    <% end %>
  </div>



  <% if @bar.events.empty? == false %>
    <h5 class="section-title">Events</h5>
    <div class="homepage-group">
      <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @events.each do |event_items| %>
            <div class="<%= event_items == @events.first ? 'carousel-item active' : 'carousel-item' %>">
              <div class="splitted">
                <% event_items.each do |event| %>
                  <%= link_to event_path(event, redirection: "home") do %>
                    <%= render "pages/cards/card-event-small", event: event%>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  <% end %>

  <h5 class="section-title">Photos of the night</h5>
  <div class="photos-night">
    <% if  @bar.name == "Mad club"%>
      <img class="photo" src="https://images.unsplash.com/photo-1517620430776-0ec904756579?ixid=MXwxMjA3fDB8MHxzZWFy[…]fHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1586156938613-769b0353c8fc?ixid=MXwxMjA3fDB8MHxzZWFy[…]fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1569315618680-3d673b5e1514?ixid=MXwxMjA3fDB8MHxzZWFy[…]fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1516450360452-9312f5e86fc7?ixlib=rb-1.2.1&ixid=MXwxM[…]2hubyUyMGRhbmNlfGVufDB8fDB8&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?ixlib=rb-1.2.1&ixid=MXwxM[…]8OHx8cGFydHl8ZW58MHx8MHw%3D&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1505236858219-8359eb29e329?ixid=MXwxMjA3fDB8MHxzZWFy[…]fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1575426158929-59962325660a?ixid=MXwxMjA3fDB8MHxzZWFy[…]fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1586972246803-d2bdc4006378?ixid=MXwxMjA3fDB8MHxzZWFy[…]fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1566737236500-c8ac43014a67?ixid=MXwxMjA3fDB8MHxzZWFy[…]fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
    <% elsif @bar.name == "Le Comptoir Cocktail Bar"  %>
      <img class="photo" src="https://images.unsplash.com/photo-1473177027534-53d906e9abcf?ixlib=rb-1.2.1&ixid=MXwxM[…]mlua2luZ3xlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1597831092859-d55a7cbb92dd?ixid=MXwxMjA3fDB8MHxzZWFy[…]58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1615850806243-ae2c39d5dad5?ixid=MXwxMjA3fDB8MHxzZWFy[…]fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1485872299829-c673f5194813?ixid=MXwxMjA3fDB8MHxzZWFy[…]58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1591627065964-858a84b606b4?ixid=MXwxMjA3fDB8MHxzZWFy[…]fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1471015060382-6cbd8b4e34d0?ixid=MXwxMjA3fDB8MHxzZWFy[…]fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1585581277915-b996e30ecc13?ixid=MXwxMjA3fDB8MHxzZWFy[…]fHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1541532713592-79a0317b6b77?ixid=MXwxMjA3fDB8MHxzZWFy[…]fHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1569937703691-0f9b8cf21a25?ixid=MXwxMjA3fDB8MHxzZWFy[…]fHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
    <% else %>
      <img class="photo" src="https://images.unsplash.com/photo-1485872299829-c673f5194813?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8cGFydHl8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8cGFydHl8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1528495612343-9ca9f4a4de28?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTF8fHBhcnR5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1530103862676-de8c9debad1d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTR8fHBhcnR5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fHBhcnR5fGVufDB8fDB8&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1438557068880-c5f474830377?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjl8fHBhcnR5fGVufDB8fDB8&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1496843916299-590492c751f4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fHBhcnR5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1586105449897-20b5efeb3233?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjN8fHBhcnR5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
      <img class="photo" src="https://images.unsplash.com/photo-1607504622473-62981bf57d13?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTB8fHBhcnR5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">
    <% end %>

  </div>
</div>

