<div class="card-booking">
  <% if booking.table_booking? %>
    <div id="table" class="booking-title-card">
      <p><%= "Booking table confirmation"%></p>
    </div>
  <% else %>
    <div id="guest-list" class="booking-title-card">
      <p> <%= "Guest list confirmation" %></p>
    </div>
  <% end %>
  <div class="booking-info">
    <div class="booking-bar-name">
      <%= booking.bar.name%>
    </div>
    <div class="booking-id">
      <div class="booking-id-name">
        <b><%= "#{booking.user.first_name} #{booking.user.last_name}"%></b>
      </div>
  </div>
      <div class="booking-id">
        <%= pluralize booking.friends.count, "Guest" %>
      </div>
    <div class="booking-id-date">
      <b><%= "#{booking.date.strftime('%d %B %Y')} "%></b>
    </div>
  </div>
</div>

