<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-bottom">
  <% if user_signed_in? %>
    <% if current_user.status == 'I own the party!' %>
        <%= link_to root_path, class: "navbar-item" do %>
          <%= svg('icon-home') %>
          <p class="text-center">Home</p>
        <% end %>
        <%= link_to "#", class: "navbar-item" do %>
          <%= svg('icon-bar') %>
          <p class="text-center">My Bar</p>
        <% end %>
        <%= link_to "#", class: "icon-cheers navbar-item" do %>
          <%= svg('icon-event') %>
          <p class="text-center">My Events</p>
        <% end %>
        <%= link_to "#", class: "icon-bigger icon-cheers navbar-item" do %>
          <%= svg('icon-notification') %>
          <p class="text-center">Notifications</p>
        <% end %>
        <div class="icon-bigger navbar-item dropup">
        <%= link_to "#", class: "navbar-item dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
          <%= svg('icon-user') %>
          <p class="text-center">Profile</p>
        <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
      </div>
    <% else %>
      <%= link_to root_path, class: "navbar-item" do %>
        <%= svg('icon-home') %>
        <p class="text-center">Home</p>
      <% end %>
      <%= link_to "#", class: "navbar-item" do %>
        <%= svg('icon-bar') %>
        <p class="text-center">Bars</p>
      <% end %>
      <%= link_to "#", class: "navbar-item" do %>
        <%= svg('icon-event') %>
        <p class="text-center">Events</p>
      <% end %>
      <%= link_to "#", class: "icon-bigger icon-notification navbar-item" do %>
        <%= svg('icon-notification') %>
        <p class="text-center">Notifications</p>
      <% end %>
      <div class="navbar-item dropup">
        <%= link_to "#", class: "icon-bigger navbar-item dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
          <%= svg('icon-user') %>
          <p class="text-center">Profile</p>
        <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
      </div>
    <% end %>
  <% else %>
    <%= link_to root_path, class: "navbar-item" do %>
      <%= svg('icon-home') %>
      <p class="text-center">Home</p>
    <% end %>
    <%= link_to "#", class: "navbar-item" do %>
      <%= svg('icon-bar') %>
      <p class="text-center">Bars</p>
    <% end %>
    <%= link_to "#", class: "navbar-item" do %>
      <%= svg('icon-event') %>
      <p class="text-center">Events</p>
    <% end %>
    <%= link_to new_user_session_path, class: "icon-cheers navbar-item" do %>
      <%= svg('icon-cheers') %>
      <p class="text-center">Join the party!</p>
    <% end %>
  <% end %>
</div>
