<div class="navbar navbar-expand-sm navbar-light navbar-barfever fixed-bottom">
  <% if user_signed_in? %>
    <% if current_user.status == 'I own the party!' %>
      <div class="container-element-navbar">
        <%= link_to root_path do %>
          <%= svg('icon-home') %>
          <p>Home</p>
        <% end %>
      </div>
      <div class="container-element-navbar">
        <%= link_to "#", class:"ml-1" do %>
          <%= svg('icon-bar') %>
          <p>My Site</p>
        <% end %>
      </div>
      <div class="container-element-navbar">
          <%= link_to "#", class:"ml-2" do %>
            <%= svg('icon-event') %>
            <p>My Events</p>
          <% end %>
      </div>
      <div class="container-element-navbar">
          <%= link_to "#", class:"icon-bigger" do %>
            <%= svg('icon-notification') %>
            <p>Messages</p>
          <% end %>
      </div>
      <div class="container-element-navbar dropup">
        <%= link_to "#", class: "icon-bigger dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
          <%= svg('icon-user') %>
          <p>Profile</p>
        <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
      </div>
    <% else %>
      <div class="container-element-navbar">
        <%= link_to root_path do %>
          <%= svg('icon-home') %>
          <p>Home</p>
        <% end %>
      </div>
      <div class="container-element-navbar">
        <%= link_to bars_path, class:"ml-1" do %>
          <%= svg('icon-bar') %>
          <p>Sites</p>
        <% end %>
      </div>
      <div class="container-element-navbar">
          <%= link_to events_path, class:"ml-2" do %>
            <%= svg('icon-event') %>
            <p>Events</p>
          <% end %>
      </div>
      <div class="container-element-navbar">
          <%= link_to bookings_path, class:"icon-bigger" do %>
            <%= svg('icon-notification') %>
            <p>Messages</p>
          <% end %>
      </div>
      <div class="container-element-navbar dropup">
        <%= link_to "#", class: "icon-bigger dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
          <%= svg('icon-user') %>
          <p>Profile</p>
        <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
      </div>
    <% end %>
  <% else %>
    <div class="container-element-navbar">
      <%= link_to root_path do %>
        <%= svg('icon-home') %>
        <p>Home</p>
      <% end %>
    </div>
    <div class="container-element-navbar">
      <%= link_to bars_path, class:"icon-bigger ml-1" do %>
        <%= svg('icon-bar') %>
        <p>Sites</p>
      <% end %>
    </div>
    <div class="container-element-navbar">
      <%= link_to events_path, class:"ml-2" do %>
        <%= svg('icon-event') %>
        <p>Events</p>
      <% end %>
    </div>
    <div class="container-element-navbar">
      <%= link_to welcome_path, class:"icon-bigger" do %>
        <%= svg('icon-cheers') %>
        <p>Join the party!</p>
      <% end %>
    </div>
  <% end %>
</div>
