<!-- Bar header -->
<%= link_to root_path do %>
  <div class="arrow-back">
    <i class="fas fa-chevron-left"></i>
  </div>
<% end %>
  <div class="bar-header">
    <div class="title">
      <h2>Events</h2>
    </div>
  </div>

<!-- Cards container -->
<div class="index-container">
  <!-- Filters -->
  <div class="filters-index container">
    <!-- Category filter -->
    <div class="btn-group">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
      </button>
      <div class="dropdown-menu">
        <div><%= link_to "Promotion", events_path(tag_category: "Promotion") %></div>
        <div><%= link_to "Live Music", events_path(tag_category: "Live Music") %></div>
        <div><%= link_to "Live Event", events_path(tag_category: "Live event") %></div>
        <div><%= link_to "Karaoke", events_path(tag_category: "Karaoke") %></div>
        <div><%= link_to "Music Theme", events_path(tag_category: "Music Theme") %></div>
        <div><%= link_to "Gay Night", events_path(tag_category: "Gay Night") %></div>
      </div>
    </div>

    <!-- Price filter -->
    <div class="review-filter-btn btn-group">
      <button class="btn btn-secondary btn-sm" type="button">
        <%= link_to events_path(tag_price: "price") do %>
          <p>Prices</p>
          <i class="fas fa-sort-amount-down-alt"></i>
        <% end %>
      </button>
    </div>

    <% @events.each do |event|  %>
      <%= link_to event_path(event, redirection: "event-index") do %>
        <%= render 'card-event-larg', event: event%>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'shared/index-btn' %>
