<%= link_to root_path do %>
  <div class="arrow-back-show">
    <i class="fas fa-chevron-left"></i>
  </div>
<% end %>

<div>
  <img src="https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YmFyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" class="d-block w-100" alt="...">
</div>

<div class="show-container">

  <div class="card-event-bar-name">
    <p><%= @event.bar.name %></p>
  </div>
  <div class="card-event-show">
    <div class="card-event-show-body">
        <h6 class="card-event-show-category"><%= @event.category %></h6>
        <h4><%= @event.name %></h4>
        <h6 class="card-event-price-grey"><%= @event.date %></h6>
        <p><%= @event.description %></p>


    </div>
    <div class="card-event-show-buttons">
      <%= link_to "Guest List", "#", class: "btn btn-event-guest" %>
      <%= link_to "Book Table", "#", class: "btn btn-event-book" %>
    </div>
  </div>
</div>

