<% if @redirection == "bar-show" %>
  <%= link_to bar_path(@event.bar) do %>
    <div class="arrow-back-show">
      <i class="fas fa-chevron-left"></i>
    </div>
  <% end %>
<% else %>
  <%= link_to events_path do %>
    <div class="arrow-back-show">
      <i class="fas fa-chevron-left"></i>
    </div>
  <% end %>
<% end %>

<div class="img-show">
  <img src="<%= @event.photo_url_1 %>">
</div>

<div class="event-category">
  <p><%= @event.category %></p>
</div>
<div class="show-container">
  <div class="card-event-show">
    <div class="card-event-show-body">
        <div class="card-event-bar-name">
          <h4><%= @event.name %></h4>
        </div>
        <h5><%= @event.bar.name %></h5>
        <h6 class="card-event-price-grey"><%= @event.date %></h6>
        <p><%= @event.description %></p>


    </div>
    <div class="card-event-show-buttons">
      <%= link_to "Guest List", "#", class: "btn btn-event-guest" %>
      <%= link_to "Book Table", "#", class: "btn btn-event-book" %>
    </div>
  </div>
</div>

