<div class="banner-home">
  <div class="container" id="container-banner-home">
    <div class="input-group input-group-sm mb-3" id="input-banner-home-group">
      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search by city" id="input-banner-home">
    </div>
    <%= link_to "What's nearby?", "" , class: "btn btn-rounded" %>
  </div>
</div>

<div>
  <div class="btn-filter-list">
    <div class="btn-filter-home" id="btn-filter-left">
      <%= link_to "#" do %>
        <span class="iconify" data-icon="fluent:drink-beer-20-regular" data-inline="false"></span>
        <p>Bar/Pub</p>
      <% end %>
    </div>
    <div class="btn-filter-home">
      <%= link_to "#" do %>
        <span class="iconify" data-icon="simple-icons:discogs" data-inline="false" id="icon-disc"></span>
        <p>Nightclub</p>
      <% end %>
    </div>
    <div class="btn-filter-home">
      <%= link_to "#" do %>
        <span class="iconify" data-icon="grommet-icons:lounge" data-inline="false"></span>
        <p>Lounge</p>
      <% end %>
    </div>
    <div class="btn-filter-home" id="btn-filter-right">
      <%= link_to "#" do %>
        <span class="iconify" data-icon="la:umbrella-beach" data-inline="false"></span>
        <p>Terrasse</p>
      <% end %>
    </div>
  </div>
  <div class="btn-filter-list">
    <div class="btn-filter-home btn-filter-events">
      <%= link_to "#",id:"filter-events" do %>
        <p>Events</p>
        <span class="iconify" data-icon="bi:calendar-event" data-inline="false"></span>
      <% end %>
    </div>
  </div>
</div>
