<!-- Banner Homepage -->
<div class="banner-home">
  <div class="container" id="container-banner-home">
    <div class="input-group input-group-sm mb-3" id="input-banner-home-group">
      <%= form_tag bars_path, method: :get, class:"input-banner-home" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search by city"
        %>
      <% end %>
    </div>
    <%= link_to "What's nearby?", "" , class: "btn btn-rounded" %>
  </div>
</div>

<!-- Group of filters -->
<div class="container-btn-filters">
  <div class="btn-filter-list">
    <div class="btn-filter-home" id="btn-filter-left">
      <%= link_to bars_path(tag: "Bar") do %>
        <%= svg('icon-beer') %>
        <p>Bar/Pub</p>
      <% end %>
    </div>
    <div class="btn-filter-home">
      <%= link_to bars_path(tag: "Nightclub") do %>
        <%= svg('icon-nightclub') %>
        <p>Nightclub</p>
      <% end %>
    </div>
    <div class="btn-filter-home">
      <%= link_to bars_path(tag: "Lounge") do %>
        <%= svg('icon-lounge') %>
        <p>Lounge</p>
      <% end %>
    </div>
    <div class="btn-filter-home" id="btn-filter-right">
      <%= link_to bars_path(tag_2: true) do %>
        <%= svg('icon-terrasse') %>
        <p>Terrasse</p>
      <% end %>
    </div>
  </div>
  <div class="btn-filter-list">
    <div class="btn-filter-home btn-filter-events">
      <%= link_to events_path,id:"filter-events" do %>
        <p>Events</p>
        <%= svg('icon-calendar') %>
      <% end %>
    </div>
  </div>
</div>

<!-- Trendy bars section -->
<div class="homepage-container">
  <div class="homepage-group">
    <h1>Trendy bars</h1>
    <div class="glide-trendy-bars glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides" style="list-style: none;">
          <li class="glide__slide">
            <%= render "shared/cards/card-bar-larg" %>
          </li>
          <li class="glide__slide">
            <%= render "shared/cards/card-bar-larg" %>
          </li>
          <li class="glide__slide">
            <%= render "shared/cards/card-bar-larg" %>
          </li>
        </ul>
      </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
    </div>
  </div>

<!-- Events nearby section -->
  <div class="homepage-group">
    <div class="title-with-btn">
      <h2>Events nearby</h2>
      <%= link_to  "Show all", "", class: "btn btn-rounded" %>
    </div>
    <div class="glide-events-nearby glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides" style="list-style: none;">
          <li class="glide__slide">
            <%= render "shared/cards/card-event-small" %>
          </li>
          <li class="glide__slide">
            <%= render "shared/cards/card-event-small" %>
          </li>
          <li class="glide__slide">
            <%= render "shared/cards/card-event-small" %>
          </li>
        </ul>
      </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
    </div>
  </div>

<!-- Based on your profile section -->
  <div class="homepage-group">
    <div class="title-with-btn">
      <h2>Based on your profile</h2>
      <%= link_to  "Show all", "", class: "btn btn-rounded" %>
    </div>
    <div class="glide-based-profile glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides" style="list-style: none;">
          <li class="glide__slide">
            <%= render "shared/cards/card-bar-small" %>
          </li>
          <li class="glide__slide">
            <%= render "shared/cards/card-bar-small" %>
          </li>
          <li class="glide__slide">
            <%= render "shared/cards/card-bar-small" %>
          </li>
        </ul>
      </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
    </div>
  </div>

<!-- Map -->
  <div class="homepage-group">
      <div id="map" class="small_size_map"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
    </div>
  </div>
</div>
