
<div class="review-container">
  <div class="skip-btn">
    <%= link_to 'Skip', bar_path(@bar) %>
  </div>
  <div class="review-forme">
    <p class="review-title">Send a review for</p>
    <h2 class="review-subtitle"> <%= @bar.name %> </h2>
    <%= simple_form_for [@bar, @review] do |f| %>
      <%= f.input :rating, collection: (1..5).to_a, id: "review-experience", label: "Rate your experience" %>
      <%= f.input :rating, collection: (1..5).to_a, id: "review-drink", label: "Rate the drinks" %>
      <%= f.input :rating, collection: (1..5).to_a, id: "review-music", label: "Rate the music" %>
      <%= f.submit "Send your review", class: "review-btn" %>
    <% end %>
  </div>
</div>
