<!DOCTYPE html>
<html>
  <head>
    <title>BarFever</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/navbar' %>

    <!-- the script below is used for the carousel because the npm version is bugged, do not remove! -->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
  </body>
</html>
